{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
      },
    }],
    "stage-3",
    "stage-2",
    "stage-1",
    "stage-0",
  ],

  "ignore": [
    "node_modules",
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
      ],
    },
    "production": {
      "presets": [
        "babel-preset-babili",
      ],

      "plugins": [
        // minification
        "babel-plugin-transform-inline-environment-variables",
        "babel-plugin-transform-node-env-inline",
      ],
    },
  },
}
