book-comp {
  display: flex;
  width: 100%;
}

page {
  display: flex;
  width: 100%;

  &:first-of-type:not(:only-child) {
    border-right: 4px solid red;
  }
}

page-num {
  align-self: flex-end;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 30px;

  &.pageMiddle {
    margin-left: auto;
    margin-right: auto;
  }

  &.pageLast {
    margin-left: auto;
  }
}
